.modal-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  padding: 1.5rem;
  border-radius: 10px;
  width: 300px;
  position: relative;
}

.title {
    margin: auto;
}

.adding-product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-price {
    font-weight: 600;
}

.quantity-actions{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.quantity-actions-buttons > button {
    background-color: #000000;
    color: #ffffff;
    margin-right: 5px;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.close-modal-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
    background-color: #000000;
    color: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add {
    color: #ffffff;
    display: flex;
    align-items: center;
    font-weight: 700;
}
